//- Global Functions
include ../functions/global

//- Global Data
include ../data/global

//- Global Components
include ../components/global

//- Global Layouts
include ../layouts/example


//- Global Plugins
include ../plugins/global

<!doctype html>
<html lang="es">
<head>

    <meta charset="UTF-8">

    <link rel="apple-touch-icon" sizes="180x180" href="#{base}assets/img/brands/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="#{base}assets/img/brands/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="#{base}assets/img/brands/favicon-16x16.png">
    <link rel="manifest" href="#{base}assets/img/brands/site.webmanifest">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sintax PUG</title>

    //- Style CSS
    <link rel="stylesheet" href="#{base}assets/css/style.css">


</head>

<body>

include navbar





